{% extends 'index.html' %}
{% block appbody%}
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h4 class="text-center blacktext">
                I made this site to learn English by having enjoy
            </h4>
            <h4 class="text-lelf blacktext">
                The editor of this site is <b><i>Ahmet Tayyip UZUN</i></b>.
            </h4>
            <br>
            <h4 class="text-left redtext">
                Communication:
            </h4>
            <h3 class="text-left darkgreytext">
                atuCE@gmail.com <br>(444) 19 07
            </h3>
        </div>
    </div>
</div>
{% endblock %}