{% extends 'index.html' %}
{% block appbody%}
<br>
<div class="row">
    <div class="col">
        <h1 class="purpletext text-center">
            Hello! Welcome to my site.
        </h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <h5 class="darktext text-left">
            Are you believing you can solve questions? Then, <br> let's <a href="/testing">testing</a>
        </h5>
    </div>
    <div class="col">
        <img src="/static/images/DeliEmoji.png" width="150" height="150" alt="komik emoji">
    </div>
</div>

{% endblock %}