{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Page</title>
    <link rel="stylesheet" href="/static/lib/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/.colourcss.css">
    <style>
        #trickButton {
            position: absolute;
            right: 10px;
            left: 10px;
            top: 10px;

        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% block appbody%}

                {% endblock %}
            </div>
        </div>
    </div>

    <script src="/static/lib/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/static/lib/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- my java scripts -->
    <script>
        $(function () {
            $("#trickButton").on({
                mouseover: function () {
                    $(this).css({
                        left: (Math.random() * 200) + "px",
                        top: (Math.random() * 200) + "px",
                        right: (Math.random() * 200) + "px",
                    });
                }
            });
        });
    </script>
    <script>
        var timeLeft = 10;
        var elem = document.getElementById('timer');
        var timerId = setInterval(countdown, 1000);

        function countdown() {
            if (timeLeft == -1) {
                clearTimeout(timerId);
                doSomething();
            } else {
                elem.innerHTML = timeLeft + ' seconds left';
                timeLeft--;
            }
        }
        function doSomething() {
            $('#timerModal').modal('show');
        }
    </script>
</body>
</html>