{% extends 'index.html' %}
{% block appbody%}
<br>
<div class="row">
    <div class="col">
        <h3 class="text-center purpletext">
            I believe you can solve the questions. Let's start!
        </h3>
    </div>
</div>
<hr>
{% if question_text %}
<form action="" method="POST">
    {% csrf_token %}
    {% for myquestion in question_text %}
        <div class="row">
            <div class="col">
                <h4 class="text-left redtext">
                    {{myquestion.id}}.)
                </h4>
                <h4 class="text-center blacktext">
                    {{myquestion}}
                </h4>
            </div>
        </div>
        <br>
        <div class="row">
            {% for myanswer in answers %}
                <div class="col">
                    <label for="idAnswer{{myanswer.id}}">
                        <h5 class="text-center greytext">
                            {{myanswer}}
                        </h5>
                    </label>
                    <input type="radio" name="answers{{myquestion.id}}" id="idAnswer{{myanswer.id}}">
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-outline-primary" type="submit">Sonucu göster</button>
        </div>
    </div>
</form>
{% else%}
<h1 class="text-center redtext">
    Kayıtlı soru bulunmamaktadır...
</h1>
{% endif %}
{% endblock %}