{% extends 'index.html' %}
{% block appbody%}
<br>
<div class="row">
    <div class="col-lg-3 bg-primary text-white">

        <!-- Modal -->
        <div class="modal fade" id="timerModal" tabindex="-1" role="dialog" aria-labelledby="timerModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="timerModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 class="text-dark">VUUHAHAHAHA You couldn't solve</h3>
                        <img src="/static/images/DeliEmoji.png" alt="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="location.reload()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3 class="text-center purpletext">
            {%if result%}
            <span class="bg-success text-white">
                Trues : {{result.true_answers}}
            </span>
            <span class="bg-danger text-white">
                Falses : {{result.false_answers}}
            </span>
            {% else %}
            <p id="timer"></p>
            {%endif %}
        </h3>
    </div>
</div>
<hr>
{% if questions %}
<form action="" class="mt-2" method="POST">
    {% csrf_token %}
    {% for myquestion in questions %}
    <div class="row">
        <div class="col">
            <span class="text-left redtext">
                {{myquestion.id}}.)
            </span>
            <span class="text-center blacktext">
                {{myquestion}}
            </span>
        </div>
    </div>
    <br>
    <div class="row">
        {% for myanswer in answers %}
        {% if myanswer.question.id == myquestion.id %}
        <div class="col">
            <label for="idAnswer{{myanswer.id}}">
                <span class="text-center greytext">
                    {{myanswer}}
                </span>
            </label>
            <input type="radio" value="{{myanswer}}" name="answers{{myquestion.id}}" id="idAnswer{{myanswer.id}}"
                required />
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <hr>
    {% endfor %}
    <div class="row mt-3">
        <div class="col">
            <button id="trickButton" class="btn btn-outline-primary" type="submit">Show Result</button>
        </div>
    </div>
</form>
{% else%}
<h1 class="text-center redtext">
    There are no registered questions...
</h1>
{% endif %}
{% endblock %}